*.js
!jest.config.js
*.d.ts
node_modules

# allow angular app .gitignore to handle that directory
!lib/client/app/*

# CDK asset staging directory
.cdk.staging
cdk.out

# output of TS compiler for services for local dev
lib/service/dist
